body {
    background-color: #252530;
}

h1 {
    color: white;
    font-family: verdana;
}

p {
   color: #BBBBEB;
   font-family: verdana;
}

.yo {
    color: aliceblue;
    font-family: sans-serif;
}

button {
    border: none;
    color: #FFFFFF;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    font-family: verdana;
    margin: 4px 2px;
    background-color: #DD94F7;
    cursor: pointer;
    border-radius: 12px;
    box-shadow: 0 0 25px #DD94F7;
}

button:active {
    transform: scale(0.97);
}

button:hover {
    background-color: #AF69C9;
    box-shadow: 0 0 25px #7A428F;
}

.clicker:active {
    transform: scale(0.95);
    opacity: 0.7;
}

.counter {
    width: 50%;
    margin: 0 auto;
    padding: 10px;
}

.shop {
    width: 50%;
    margin: 0 auto;
    padding: 10px;
}

.autoClickerBtn {
    white-space: pre;
}

.clickMultBtn {
    white-space: pre;
}