body {
    background-color: #262626;
}

h1 {
    color: white;
    font-family: verdana;
}

p {
   color: #ADADAD;
   font-family: verdana;
}

.yo {
    color: aliceblue;
    font-family: sans-serif;
}

button {
    border: none;
    color: #262626;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    font-family: verdana;
    margin: 4px 2px;
    background-color: #D9D9D9;
    cursor: pointer;
    border-radius: 12px;
}

button:active {
    transform: scale(0.97);
}

button:hover {
    background-color: #999999;
}

.clicker:active {
    transform: scale(0.95);
    opacity: 0.7;
}

.counter {
    width: 50%;
    margin: 0 auto;
    padding: 10px;
}

.shop {
    width: 50%;
    margin: 0 auto;
    padding: 10px;
}

.autoClickerBtn {
    white-space: pre;
}