body {
    background-color: #262626;
}

h1 {
    color: white;
    font-family: verdana;
}

.mainparagraph {
   color: #ADADAD;
   font-family: verdana;
}

.yo {
    color: aliceblue;
    font-family: sans-serif;
}